header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  height: 70px;
  background: white;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  box-sizing: border-box;
}

.header__logo {
  width: 8%;
}

.header__logo-image {
  width: 100%;
}

.header__logo-image:hover {
  opacity: 0.6;
}

.header__nav-list a {
  text-decoration: none;
  color: black;
  font-size: 15px;
  font-weight: bold;
}

.header__nav-list a:hover {
  opacity: 0.6;
  transition: 0.3s;
}

.header__nav-list {
  display: flex;
}

.header__nav-item:not(:last-child) {
  margin-right: 30px;
}

.ttl {
  width: 100%;
  position: relative;
  /* overflow: hidden; */
  height: 300px;
  background: url(../image3/mv.png) center/ cover;
}

/* .ttl__image img {
  width: 100%;
  margin-top: -200px;
} */

.ttl-message {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 35px;
}

.blog-wrapper {
  width: 85%;
  margin: 50px auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.blog-item {
  width: 32%;
}

.blog-item__image img {
  width: 100%;
}

.blog-item__image:hover {
  opacity: 0.6;
  transition: 0.6s;
}

.blog-item__message {
  padding-bottom: 20px;
}

.blog-item__massage-date {
  font-size: 13px;
}

.blog-item__message--bold {
  text-decoration: none;
  font-weight: bold;
  color: black;
}

.blog-item__message--bold:hover {
  opacity: 0.6;
  transition: 0.3s;
}

.form {
  background: rgb(241, 228, 228);
  text-align: center;
  padding: 50px;
}

.form__message-ttl {
  font-size: 32px;
}

.form__message-sub {
  margin-top: -10px;
}

.form-btn {
  display: block;
  text-decoration: none;
  color: white;
  background-color: rgb(189, 10, 10);
  text-align: center;
  width: 280px;
  padding: 15px;
  font-weight: bold;
  margin: 40px auto;
}

.form-btn:hover {
  opacity: 0.6;
  transition: 0.3s;
}

footer {
  background: black;
  /* display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center; */
  /* padding: 0 70px; */
}

.footer-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  width: 85%;
  margin: 0 auto;
  padding: 10px 0;
}

.footer-logo {
  color: white;
  font-size: 12px;
}

.footer-list {
  display: flex;
}

.footer-item__link {
  text-decoration: none;
  color: white;
  display: block;
}

.footer-item:not(:last-child) {
  border-right: 1px solid white;
  padding-right: 10px;
}

.footer-item {
  padding-left: 10px;
  font-size: 12px;
}

.footer-item__link:hover {
  opacity: 0.6;
  transition: 0.3s;
}

.menu {
  display: none;
}

.nav-drawer {
  display: none;
}

@media screen and (max-width: 768px) {
  .nav-drawer {
    height: 100vh;
    width: 100%;
    text-align: center;
    position: absolute;
    top: 0;
    left: -100%;
    transition: 0.7s;
    background: rgb(248, 244, 244);
    display: block;
  }

  .nav-drawer-list a {
    text-decoration: none;
    color: blue;
    font-size: 20px;
  }

  .nav-drawer-list {
    padding: 50px;
  }

  .nav-drawer-item {
    margin-top: 50px;
  }

  .header__nav {
    display: none;
  }

  .menu {
    display: inline-block;
    width: 50px;
    height: 32px;
    cursor: pointer;
    position: relative;
    top: 0;
    right: 20px;
    z-index: 100;
  }

  .menu__top-line {
    display: inline-block;
    width: 100%;
    position: absolute;
    top: 0;
    height: 4px;
    background: black;
    transition: 0.6s;
  }

  .menu__middle-line {
    display: inline-block;
    width: 100%;
    position: absolute;
    top: 14px;
    height: 4px;
    background: black;
    transition: 0.6s;
  }

  .menu__bottom-line {
    display: inline-block;
    width: 100%;
    position: absolute;
    bottom: 0;
    background: black;
    height: 4px;
    transition: 0.6s;
  }

  .menu.open span:nth-of-type(1) {
    top: 14px;
    transform: rotate(45deg);
  }

  .menu.open span:nth-of-type(2) {
    opacity: 0;
  }

  .menu.open span:nth-of-type(3) {
    top: 14px;
    transform: rotate(-45deg);
  }

  .in {
    transform: translateX(100%);
  }

  .footer-wrapper {
    width: 56%;
  }

  .footer__nav {
    display: block;
    text-align: center;
  }

  .footer-list {
    display: block;
    width: 100%;
    margin: 0 auto;
  }

  .footer-item {
    padding-left: 0;
  }

  .footer-item:not(:last-child) {
    border: none;
    padding-bottom: 20px;
    padding-right: 0;
  }

  .blog-item {
    width: 100%;
  }
}
